#landing-page {
    padding-top: 5em;
    background-repeat: no-repeat;
}

#landing-align {
    display: inline-block;
}

#landing-colorband {
    position: fixed;
    height: 100%;
    width: 20%;
    background: linear-gradient(#ED41A8 0%, #f55e5e 100%);
    z-index: -1;
    margin-top: -32em;
    margin-left: -2.0em;
}

@media (max-width: 770px) {
    #landing-colorband {
        display: none;
    }
    #landing-main-title {
        background: linear-gradient(#ED41A8 0%, #f55e5e 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#landing-info-button {
    margin-top: 1.5em;
    
}

#linkedin-logo {
    width: 2.5em;
    height: 2em;
    filter: grayscale(100%) brightness(250%);
}

#github-logo {
    width: 2em;
    height: 2em;
}

.landing-media {
    margin-top: 1em;
    margin-left: -0.4em;
}

.landing-logo {
    margin: 0 0.5em;
    transition: all 0.2s;
}

.landing-logo:hover {
}
